.container {
    background-color: var(--white);
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.1),
        0 8px 16px rgba(0, 0, 0, 0.1);
}

.form-container input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px #e7f3ff;
}

.form-container button {
    background-color: var(--primary-color);
    color: var(--white);
}

.form-container button:hover {
    background-color: #3a5fef;
}

.form-container a {
    color: var(--primary-color);
}
