body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 400px;
}

.login-header {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 20px;
    text-align: center;
}

.login-header h2 {
    margin: 0;
    font-size: 24px;
}

.login-controls {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.login-controls button {
    background-color: transparent;
    border: none;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    padding: 5px 15px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.login-controls button.active {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.login-controls button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

.form-container {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: var(--secondary-color);
}
