/* styles.css */

:root {
    --primary-color: #375e97;
    --secondary-color: #375e97;
    --background-color: #f8f9fa;
    --text-color: #333;
    --white: #ffffff;
    --light-gray: #e4e6eb;
    --dark-gray: #1c1e21;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}
